<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">Ingredients</h3>
        </div>
        <div class="card-toolbar">
            <a type="button" class="btn btn-primary" routerLink="/app/ingredients/add">New Ingredients</a>
        </div>
    </div>
    <div class="card-body">


        <!-- begin:Table -->
        <div class="table-responsive angular-bootstrap-table">
            <table class="table table-head-custom table-vertical-center overflow-hidden">
                <thead>

                    <th>
                        Image
                    </th>
                    <th>
                        Title
                    </th>

                    <th>ACTIONS</th>
                </thead>
                <tbody>
                    <ng-container *ngFor="let ingredient of ingredients;let i = index">
                        <tr>

                            <td><img [src]="ingredient.imageUrl" style="height:150px" /></td>
                            <td>{{ingredient.title}}</td>

                            <td>
                                <a title="Edit " class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"
                                    [routerLink]="'/app/ingredients/add/' + ingredient.id">
                                    <span [inlineSVG]="
                      './assets/media/svg/icons/Communication/Write.svg'
                    " cacheSVG="true" class="svg-icon svg-icon-md svg-icon-primary">
                                    </span>
                                </a>
                                <a title="Delete " class="btn btn-icon btn-light btn-hover-danger btn-sm"
                                    (click)="delete(i)">
                                    <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
                                        class="svg-icon svg-icon-md svg-icon-danger">
                                    </span>
                                </a>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
        <!-- end: Table -->

        <!-- start: Paginator -->
        <div class="d-flex flex-wrap py-2 mr-3">

        </div>
        <div class="d-flex align-items-center py-3">
            <div class="row full-width">
                <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="kt_datatable_info" role="status" aria-live="polite">Showing
                        {{ingredients.length}} items
                        of {{maxCount}} entries</div>
                </div>
                <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_full_numbers" style="float:right" id="kt_datatable_paginate">
                        <ul class="pagination">
                            <ng-container *ngFor="let i of pages();">
                                <li class="paginate_button page-item " [class.active]="i === page">
                                    <a aria-controls="kt_datatable" tabindex="0" class="page-link"
                                        (click)="changePage(i)">
                                        {{i}}
                                    </a>
                                </li>
                            </ng-container>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: Paginator -->

    </div>
</div>