<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                <ng-container *ngIf="!editMode">
                    Add
                </ng-container>
                <ng-container *ngIf="editMode">
                    Edit
                </ng-container>
            </h3>
        </div>
        <div class="card-toolbar">
            <a type="button" class="btn btn-light" routerLink="/app/ingredients">
                <i class="fa fa-arrow-left"></i>Back
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="mt-5">
            <form class="form form-label-right">
                <div class="form-group row">
                    <div class="col-lg-4">
                        <label>Enter Title</label>
                        <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                            placeholder="Title" name="title" [(ngModel)]="title" />
                    </div>
                    <div class="col-lg-4">
                        <label style="display:block">Image</label>
                        <div class="image-input image-input-outline" id="kt_image_1">
                            <div (click)="file.click()" class="image-input-wrapper"
                                style="background-image: url({{preview}}) "></div>
                            <input class="display-none" #file type="file" name="profile_avatar" accept="image/*"
                                (change)="fileChangeEvent($event)" />
                        </div>
                        <span class="form-text text-muted">Allowed file types: png, jpg, jpeg.</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-4">
                        <button class="btn btn-primary font-weight-bold mr-2" (click)="getFromApi()">
                            Load Data from API
                        </button>

                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-4">
                        <label>Fat (g)</label>
                        <input type="number" class="form-control form-control-lg form-control-solid" autocomplete="off"
                            placeholder="Fat" name="fat" [(ngModel)]="fat" />
                    </div>
                    <div class="col-lg-4">
                        <label>Calories (cal)</label>
                        <input type="number" class="form-control form-control-lg form-control-solid" autocomplete="off"
                            placeholder="Calories" name="calories" [(ngModel)]="calories" />
                    </div>
                    <div class="col-lg-4">
                        <label>Carbohydrates (g)</label>
                        <input type="number" class="form-control form-control-lg form-control-solid" autocomplete="off"
                            placeholder="Carbohydrates" name="carbohydrates" [(ngModel)]="carbohydrates" />
                    </div>
                </div>

                <div class="float-right">
                    <a class="btn btn-default font-weight-bold mr-2" routerLink="/app/ingredients">Cancel</a>
                    <button type="submit" class="btn btn-primary font-weight-bold mr-2" (click)="save()">
                        Save
                    </button>
                    <ng-container *ngIf="isLoading$ | async">
                        <span class="spinner spinner-primary ml-5"></span>
                    </ng-container>
                </div>
            </form>
        </div>
    </div>
</div>