/* You can add global styles to this file, and also import other style files */
@import "./assets/css/style.bundle.css";
@import "./assets/css/themes/layout/aside/light.css";
@import "./assets/css/themes/layout/brand/dark.css";
@import "./assets/css/themes/layout/header/base/dark.css";
@import "./assets/css/themes/layout/header/menu/dark.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
