:host {
    .aside {
        height: 100%;

        .aside-menu {
            margin: 0;
        }
    }

    // fixed text line break issue on minimized aside hover
    .menu-text {
        white-space: nowrap;
    }
}
:host {
    ::ng-deep {
        .loading-bar {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;

            .progress-bar {
                // brand color
                background-color: #5d78ff;
            }
        }

        .topbar-item {
            height: 100%;
        }

        @media (min-width: 1025px) {
            .topbar,
            .topbar-item-wrapper {
                height: 100%;
            }
        }
    }
}
